body {
  font-family: "Lato", sans-serif;
}
.navigation {
  position: sticky;
  /* Don't forget the coordinates yaaa yasminaaaa */
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlist {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  float: right;
  margin: 0px;
  padding: 0px;
}

.section1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.section2 {
  display: flex;
  justify-content: center;
}

#paragraphs {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  gap: 2%;
  padding: 3%;
  font-size: large;
}

#card-display {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-evenly;
  gap: 3%;
}

.card1 {
  background-color: #00ccb1;
  border-radius: 10px;
}

.options {
  background: transparent;
  text-decoration: underline;
  border: none;
}
.card2 {
  background-color: #3d83df;
  border-radius: 10px;
}

.card3 {
  background-color: #1b2734;
  border-radius: 10px;
}

.sites {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-evenly;
  font-size: x-large;
}

.platforms {
  background-color: #d5f5f6;
  position: relative;
}

.words {
  margin-left: 10%;
  margin-right: 10%;
}
.boxes-container {
  display: flex;
  justify-content: end;
}
.boxes {
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  background-color: #d5f5f6;
}
.boxes-one {
  padding: 20px;
  width: 250px;
  resize: both;
  overflow: auto;
}
.boxes-two {
  padding: 20px;
  width: 250px;
  resize: both;
  overflow: auto;
}
.boxes-group-1 {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.boxes-group-2 {
  display: flex;
  flex-direction: column;
  gap: 5%;
}
.boxes-three {
  padding: 20px;
  width: 250px;
  resize: both;
  overflow: auto;
}
.boxes-four {
  padding: 20px;
  width: 250px;
  resize: both;
  overflow: auto;
}
.last-head {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
#last-paragraph {
  display: flex;
  justify-content: center;
}
.countries {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  margin-left: 10%;
  margin-right: 10%;
}
/* Yasmina, hope you're doing good, Keep up the good work I AM WATCHINGB YOU !! 
SO, don't forget to inspect to see if there is a padding/margin by default 
so that you can override it */

.c-p {
  padding: 0px;
  margin: 0px;
}
.c-b {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
  align-items: center;
}
.join {
  display: flex;
  justify-content: center;
}
.last-button {
  display: flex;
  justify-content: center;
}
.footer {
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.footer2 {
  font-size: 12px;
  display: flex;
  justify-content: center;
}
.footer3 {
  font-size: 12px;
  display: flex;
  justify-content: center;
}
